/main
/check_hydrostatic_relaxation
/check_statler
/check_examples
/check_moving
/main-strict
/output/
*.o
*.s
__pycache__/
/docs/*.aux
/docs/*.fdb_latexmk
/docs/*.fls
/docs/*.log
/docs/*.out
/docs/*.pdf
